@model List<KursovaHomeGarden.Models.Plant.Plant>

<h2 class="text-center mb-5">List of Plants</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Plants" asp-action="Create">New Plant</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>Care Level</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var plant in Model)
        {
            <tr>
                <td>@plant.plant_id</td>
                <td>@plant.name</td>
                <td>@plant.description</td>
                <td>@plant.price</td>
                <td>@plant.Category?.category_name</td>
                <td>@plant.CareLevel?.level_name</td>
                <td>
                    @if (string.IsNullOrEmpty(plant.img))
                    {
                        <span>-</span>
                    }
                    else
                    {
                        <img src="/images/plants/@plant.img" width="100" alt="Plant Image" />
                    }
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-controller="Plants" asp-action="Edit" asp-route-id="@plant.plant_id">Edit</a>
                    <a class="btn btn-sm btn-danger" onclick="confirmDelete('@plant.plant_id')" href="javascript:void(0);">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>

<script type="text/javascript">
    function confirmDelete(plantId) {
        $.ajax({
            url: '/Plants/CheckAndDelete',
            type: 'POST',
            data: { id: plantId },
            success: function (response) {
                if (response.referenced) {
                    Swal.fire({
                        title: "Are you sure?",
                        text: response.message,
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonText: "Yes, delete it!",
                        cancelButtonText: "Cancel",
                        customClass: {
                            confirmButton: 'btn btn-primary me-2',
                            cancelButton: 'btn btn-danger'
                        },
                        buttonsStyling: false
                    }).then((result) => {
                        if (result.isConfirmed) {
                            deletePlantAndReferences(plantId);
                        }
                    });
                } else if (response.success) {
                    Swal.fire({
                        title: 'Deleted!',
                        text: response.message,
                        icon: 'success',
                        customClass: {
                            confirmButton: 'btn btn-primary'
                        },
                        buttonsStyling: false
                    }).then(() => {
                        location.reload();
                    });
                } else {
                    Swal.fire({
                        title: 'Error!',
                        text: response.message,
                        icon: 'error',
                        customClass: {
                            confirmButton: 'btn btn-primary'
                        },
                        buttonsStyling: false
                    });
                }
            },
            error: function (xhr, status, error) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Something went wrong.',
                    icon: 'error',
                    customClass: {
                        confirmButton: 'btn btn-primary'
                    },
                    buttonsStyling: false
                });
            }
        });
    }

    function deletePlantAndReferences(plantId) {
        $.ajax({
            url: '/Plants/DeletePlantAndReferences',
            type: 'POST',
            data: { id: plantId },
            success: function (response) {
                if (response.success) {
                    Swal.fire({
                        title: 'Deleted!',
                        text: response.message,
                        icon: 'success',
                        customClass: {
                            confirmButton: 'btn btn-primary'
                        },
                        buttonsStyling: false
                    }).then(() => {
                        location.reload();
                    });
                } else {
                    Swal.fire({
                        title: 'Error!',
                        text: response.message,
                        icon: 'error',
                        customClass: {
                            confirmButton: 'btn btn-primary'
                        },
                        buttonsStyling: false
                    });
                }
            },
            error: function (xhr, status, error) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Something went wrong.',
                    icon: 'error',
                    customClass: {
                        confirmButton: 'btn btn-primary'
                    },
                    buttonsStyling: false
                });
            }
        });
    }

</script>